<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sheffield Streams</title>
    <link rel="stylesheet" href="~/css/mobile.css" />
    <link rel="stylesheet" media="only screen and (min-width : 680px)" href="~/css/desktop.css">
    
</head>
<body>
    <header>
        <div class="innerHeader">
            <div>
                <div>
                    <h1>@ViewData["PageHeading"]</h1>
                </div>
                <div class="burgerMenuContainer">
                    <img src="~/images/whiteMenu.jpg"
                         alt="Menu"
                         width="30px"
                         id="burgerMenu" />

                </div>
                <nav>
                    <ul>
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-controller="Home" asp-action="AllTeams">Team List</a></li>
                        <li><a asp-controller="Home" asp-action="AllPlayers">Player List</a></li>
                        <li><a asp-controller="Home" asp-action="Search">Search</a></li>
                        <li><a asp-controller="CMS" asp-action="Index">CMS</a></li>
                    </ul>
                </nav>

            </div>

            @if (User.Identity.IsAuthenticated)
            {
                <div class="login">
                    <p>@User.Identity.Name</p>
                    <p><a asp-controller="CMS" asp-action="Index">CMS</a></p>
                    <form asp-controller="Security" asp-action="SignOut" method="post">
                        <button type="submit" class="delete">Sign Out</button>
                    </form>
                </div>
            }

        </div>
    </header>
    <main>

        @RenderBody()

    </main>

    <footer>
        <p>By Abdelrhman Fadul: @DateTime.Now.ToString("ddd d MMM yyyy")</p>
    </footer>
 
    @RenderSection("Scripts", required: false)
    <script src="~/js/site.js"></script>


</body>
</html>
